body {
  // font: 300 14px/1.8 'Raleway', sans-serif;
  color: #666;
  overflow-x: hidden;
}

#home {
  height: 100vh;
  background-image: url("../images/profile.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
        background-size: cover;
  padding: 0;
}

.bg-pattern {
    // background-color: rgba(41, 41, 41, 0.3);
    background-color: rgba(44, 62, 80, 0.3);
    background-image: url("../images/pattern.png");
    background-repeat: repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.intro {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  text-align: center;
  -webkit-transform: translate(0%, -50%);
     -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
     -o-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
  padding: 0 15px;
}

.intro h1{
    font-weight: 800;
    color: white;
}

.profile-text {
  color: white;
  font-family: Raleway, "Raleway", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-transform: none;
  margin: 15px 0;
}